/* body {
  background-color: rgb(0, 0, 15);
}
.App {
  width: 70vw;
  margin: 10px auto;
  border: 2px solid darkblue;
  background-color: transparent;
  border-radius: 20px;
}

.App > h2 {
  text-align: center;
  color: white;
} */
